.App {
  text-align: center;
}

.item_icon.social {
  width: 15px;
  height: 15px;
  box-sizing: content-box;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin: 7px;
  background-color: rgb(48, 47, 47);
  border: 10px solid rgb(48, 47, 47);
  border-radius: 50%;
  cursor: pointer;
}

.item_icon.social:hover {
  background-color: #f0be0c;
  border: 10px solid #f0be0c;
}