@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400i&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item_icon.social {
  width: 15px;
  height: 15px;
  box-sizing: content-box;
  text-align: center;
  font-size: 15px;
  color: #fff;
  margin: 7px;
  background-color: rgb(48, 47, 47);
  border: 10px solid rgb(48, 47, 47);
  border-radius: 50%;
  cursor: pointer;
}

.item_icon.social:hover {
  background-color: #f0be0c;
  border: 10px solid #f0be0c;
}