@import "./src/vars.scss";

.bgc_image {
    background-image: url(/images/header-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 400px 15px 200px 15px ;
    margin: 0 auto;
}

.intro_text {
    padding-top: 280px;
    text-align: center;
    color: $white;
    font-family: 'Noto Serif',serif;
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    text-transform: capitalize;

    @media (max-width: $bp_mobile) {
       font-size: 25px;
    }
}
 

.lead_in {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin: 0 15px 50px 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: $white;

     @media (max-width: $bp_mobile) {
         font-size: 55px;
     }
}

.btn_intro {
    background-color: $yellow;
    border-color: $yellow;
    font-size: 18px;
    padding: 20px 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    color: $white;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 18px;
    border-radius: .25rem;
    transition: color .15s;
    margin-bottom: 200px;
    text-decoration: none;
}