 @import "./src/vars.scss";


.timeline {
    position: relative;
    display: block;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    content:' ';
    background-color: $timeline_color;
    z-index: -1;

    @media (max-width: $bp_mobile) {
        left: 85px;
    }
}

.timeline_container {
    min-height: 170px;
    margin-bottom: 80px;
}

.timeline_image {
    width: 170px;
    height: 170px;
    position: absolute;
    left: calc(50% - 85px);

     @media (max-width: $bp_mobile) {
        left: 0;
     }
}

.timeline_image_circle {
    border-radius: 50%;
    width: 100%;
    border: 3px solid $timeline_color;

     @media (max-width: $bp_mobile) {
         width: 75%;
     }
}

.timeline_description {
    padding: 0 10px 20px 100px;
    float: left;
    width: 40%;
    text-align: right;
 }

.timeline_description_inverted {
    padding: 0 100px 20px 10px;
    float: right;
    width: 40%;
    text-align: left;
}

.timeline_description, .timeline_description_inverted {
    @media (max-width: $bp_mobile) {
        padding: 0 30px 20px 170px;
        float: right;
        width: 100%;
        text-align: left;
    }
}

.timeline_container:after {
    content: "";
    clear: both;
    display: table;
}

.timeline_title {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 7px;

    @media (max-width: $bp_mobile) {
        font-size: 25px;
    }
}

.timeline_more {
    color: $txt_grey;
    font-size: 15px;
    text-align: justify;

      @media (max-width: $bp_mobile) {
         font-size: 21px;
      }
}

.timeline_image_final {
    width: 170px;
    height: 170px;
    padding: 38px 0px;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    background-color: $yellow;
    text-transform: capitalize;

}