* {
    margin: 0;
    padding: 0;
}

.section {
    background-color: #f8f9fa;
    padding-bottom: 20px;
    padding-top: 50px;

}

.portfolio {
    max-width: 1024px;
    margin: 20px auto 50px auto;

}

.portfolio_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    margin-bottom: 11px;
}

.portfolio_subtitle {
    font-style: italic;
    color: #6c757d;
    margin-bottom: 75px;
}

.portfolio_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio_item {
    width: 30.3%;
    margin-bottom: 25px;
}

.portfolio_container {
    position: relative;
}

.portfolio_container:hover .img_overlay, .portfolio_container:hover .item_icon_plus {
    visibility: visible;
    opacity: 0.8;
    }

.img_overlay {
    position: absolute;
    width:100%;
    height: 100%;
    cursor: pointer;
    visibility: hidden;
    background-color: #fed136;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
    
}



.portfolio_img {
    width: 100%;
    vertical-align: top;
}

.item_icon_plus {
    position: absolute;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    width: 70px;
    height: 70px;
    line-height: 45px;
    font-size: 100px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}



.img_text {
    background-color: #fff;
    padding: 15px;

}

.img_title {
    font-size: 25px;
    font-weight: bold;

}