.footer_bgc {
    background-color: #212529;
}

.footer_bgc_map {
    background-image: url("/images/footer/map-image.png");
    max-width: 1300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.footer_contact {
    padding: 60px 15px 40px 15px;
}

.footer_contact_title {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
}

.footer_contact_subtitle {
    color: #6c757d;
    font-style: italic;
}

.footer_form {
    max-width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer_form_left {
    width: 50%;
    padding-right: 15px;
}

.footer_form_right {
    width: 50%;
    padding-left: 15px;
}

.footer_send_message {
    width: 100%;
    margin: 30px 5px;
}

.form_group {
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 12px;
}

.form_group.textarea {
    height: 95%;
    }

.form_field.textarea {
    height: 100%;
    font-family: Arial;
}

.form_field {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: unset;
    
}

.validation_message {
    position: absolute;
    display: inline-block;
    color: rgb(201, 40, 40);
    font-size: 14px;
    width: 100%;
    text-align: left;
    left: 0;
    bottom: -10px;
}

.footer_btn {
    background-color: #fed136;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.footer_btn:hover {
    background-color: #ecbe16;
}

.footer_inf {
    max-width: 1024;
    padding: 15px 0;
    text-align: center;
}

.footer_inf_container {
    display: flex;
}


.footer_copyright {
    width: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer_copyright_txt {
    font-size: 12px;
    color: #212529;
}


.footer_quicklinks {
    width: 33.33333%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer_link {
    font-size: 12px;
    color: #ffc107;
    display: inline-block;
    padding: 3px 10px;
}

.footer_link:hover {
    color: #f0be0c;
    text-decoration: underline;
    cursor: pointer;
}

.footer_socialsIcons_container {
    width: 33.33333%
}


